* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* styling to the header, main, footer */
header, main, footer {
    background-color: #FFFCF6;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

header {
    background-color: #FFFCF6;
    position: fixed;
    top: 0;
    z-index: 1000;
}

main {
    margin-top: 200px;
}

main, footer {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

section {
    margin-bottom: 30px;
    position: relative;
}

img.hero-image {
    width: 1250px;
    height: 600px;
    display: flex;
    align-self: center;
}

/* styling to the hero content */
.hero-content {
    position: absolute;
    top: 20%;
    left: 50%;
    bottom: 20%;
    left: 20%;
    text-align: left;
    color: #fff;
    transition: transform 1.s ease;
}
.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-content h2 {
    font-size: 64px;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 18px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.logo-container .club-info {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.club-info img {
    margin-left: 20px;
}

/* styling to the footer */
footer {
    background-color: #0d690d;
    color: #fff;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}

footer p {
    padding: 10px 0;
    margin: 0;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.member {
    text-align: center;
}

.member img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.member p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}
.below-image{
    width: 1250px;
    height: 300px;
    align-self: center;
    display: flex;
}
.below-image h1{
    display: flex;
    text-align: left;
    color: #13261A;
    background-color: #FFFCF6;
    font-size: 7ch;
    padding-left: 120px;
}

.below-image h2{
    color: #fff;
    display: flex;
    object-fit: cover;
    background-color: #13261A;
    text-align: left;
    justify-content: flex-end;
}
.below-image h2 span {
    display: flex;
    justify-content: center;
    margin-top: 18px;   
    margin-right: 50ch;
    margin-left: 20ch;
    font-size: 15px;
}
.below-image h1 span {
    display: flex;
}
.bxslider {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .bxslider div {
    position: relative;
  }
  
  .bxslider h1 {
    position: absolute;
    top: 50%;
    left: 20%;
    font-size: 60px;
    max-lines: 1;
    color: white;
  }
  .inner_container{
    background-color: #FFFCF6;
  }